<!DOCTYPE html>
<html>
  <head>
    <title>Ben Bristow</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Personal website of web developer Ben Bristow" />
    <meta name="author" content="Ben Bristow" />
    <link href="dist/main.css" rel="stylesheet" />
  </head>

  <body>
    {{ content }}
    <script src="dist/main.js"></script>
  </body>
</html>