<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} | Ben Bristow</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Personal website of web developer Ben Bristow" />
  <meta name="author" content="Ben Bristow" />
  <link rel="icon" type="image/svg+xml"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23ffffff%22></rect><path d=%22M50.37 78.44L30.64 78.44L30.64 21.56L49.24 21.56Q58.50 21.56 63.16 25.39Q67.83 29.22 67.83 36.72L67.83 36.72Q67.83 40.70 65.57 43.77Q63.30 46.84 59.39 48.52L59.39 48.52Q64.00 49.80 66.68 53.42Q69.36 57.03 69.36 62.03L69.36 62.03Q69.36 69.69 64.39 74.06Q59.43 78.44 50.37 78.44L50.37 78.44ZM50.64 51.84L38.14 51.84L38.14 72.30L50.53 72.30Q55.76 72.30 58.79 69.59Q61.82 66.88 61.82 62.11L61.82 62.11Q61.82 51.84 50.64 51.84L50.64 51.84ZM38.14 27.73L38.14 45.82L49.47 45.82Q54.39 45.82 57.34 43.36Q60.29 40.90 60.29 36.68L60.29 36.68Q60.29 31.99 57.56 29.86Q54.82 27.73 49.24 27.73L49.24 27.73L38.14 27.73Z%22 fill=%22%23000000%22></path></svg>" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://stackpath.bootstrapcdn.com" crossorigin>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
  <link href="/dist/index.css?v={{ site.time | date:'%s' }}" rel="stylesheet" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41573269-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-41573269-1');
  </script>
</head>

<body>
  <div class="bb-wrapper">
    <header class="bb-header text-center py-5">
      <div class="container">
        <h1>Ben Bristow</h1>
        <nav role="navigation">
          <ul class="fw-light list-inline">
            <li class="list-inline-item mx-2"><a href="/">Home</a></li>
            <li class="list-inline-item mx-2"><a href="/portfolio.html">Portfolio</a></li>
            <li class="list-inline-item mx-2"><a href="/cv.html">CV</a></li>
            <li class="list-inline-item mx-2"><a href="/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      {{ content }}
    </div>
  </div>

  <footer class="bb-footer bg-light text-center py-5 mt-5">
    <div class="bb-footer__social mb-2">
      <a class="mx-2" href="https://www.linkedin.com/in/benbb" title="My LinkedIn" target="_blank"
        rel="noopener noreferrer">
        <i class="fa fa-linkedin"></i>
      </a>

      <a class="mx-2" href="https://www.instagram.com/benbristowuk" title="My Instagram" target="_blank"
        rel="noopener noreferrer">
        <i class="fa fa-instagram"></i>
      </a>

      <a class="mx-2" href="https://www.twitter.com/benbristowuk" title="My Twitter" target="_blank"
        rel="noopener noreferrer">
        <i class="fa fa-twitter"></i>
      </a>

      <a class="mx-2" href="https://www.github.com/benbristow" title="My GitHub" target="_blank"
        rel="noopener noreferrer">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <div>&copy; Ben Bristow {{ 'now' | date: "%Y" }}</div>
  </footer>

  <script src="/dist/index.js?v={{ site.time | date:'%s' }}"></script>
</body>
</html>