@import "variables";
@import "~bootstrap/scss/bootstrap";

$doubleSpacer: $spacer * 2;

html,
body {
  height: 100%;
}

img {
  width: 100%;
}

.bb-wrapper {
  background: #fff;
  min-height: 100%;
  padding: $doubleSpacer;
}

.bb-body {
  overflow-y: scroll;

  &--loading {
    max-height: 100vh;
    overflow: hidden;

    .bb-loading-mask {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.bb-loading-mask {
  background: rgba(0, 0, 0, 0.9);
  color: $white;
  display: none;
  position: absolute;
  text-align: center;
  padding: 0 1rem;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__spinner {
    height: 64px;
    width: 64px;
    margin-bottom: 2rem;
  }
}

.bb-header {
  $c: &;

  display: flex;
  align-items: center;
  margin-bottom: $spacer;

  &__brand {
    flex-grow: 1;
    font-family: "Kalam", "Helvetica", sans-serif;

    a {
      text-decoration: none;
    }

    h1 {
      margin-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    ul {
      padding: 0;

      li {
        display: inline-block;
        margin-left: $spacer;
        font-weight: bold;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &--open {
      #{$c}__burger-button {
        display: none;
      }

      ul {
        display: block;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        padding-top: 10%;
        background: rgba(0, 0, 0, 0.9);

        li {
          display: block;
          width: 100%;
          text-align: center;
          margin: 0;
          font-size: 3rem;
          line-height: 6rem;

          a {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }

    @media print {
      display: none;
    }
  }

  &__burger-button {
    color: $dark;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.bb-portfolio-card {
  background: $light;
  margin: ($spacer * 2) 0;
  padding: $spacer * 1.5;

  @include media-breakpoint-down(md) {
    .btn {
      width: 100%;
    }

    img {
      margin-bottom: $spacer;
    }
  }
}

.bb-footer {
  padding: $spacer 0 ($spacer * 2) 0;

  &__line {
    border: 1px solid $dark;
    margin: $spacer 0;
  }

  &__copyright {
    flex-grow: 1;
  }

  &__social {
    text-align: right;

    a {
      font-size: 1.4rem;
      margin-left: $spacer;
      text-decoration: none;
    }
  }

  @media print {
    display: none;
  }
}
