@import "variables";
@import "bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}

img {
    width: 100%;
}

.bb-wrapper {
    background: #fff;
    min-height: 100%;
}

.bb-header {
    border-top: $primary 32px solid;

    h1 {
        font-weight: 700;
    }
}

.bb-footer {
    &__social {
        font-size: 1.8rem;
        
        a {
            text-decoration: none;

            :hover {
                color: lighten($primary, 50%);
            }
        }
    }
}