{
    "IsEncrypted": false,
    "Host": {
        "CORS": "*"
    },
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "SENDGRID_API_KEY": "",
        "RECAPTCHA_SECRET_KEY": ""
    }
}