{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "",
    "MAILGUN_KEY": "",
    "RECAPTCHA_SECRET_KEY": ""
  },
  "Host": {
    "CORS": "*"
  }
}